@model List<InsuredPerson>

<div class="mb-5">
    <h2>Seznam pojištěnců</h2>
</div>
<div class="row mb-5 mt-5" style="text-align: right">
    <div class="col">
        <a class="btn btn-primary" asp-controller="InsuredPerson" asp-action="Create">Přidat Pojištěnce</a>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        <form method="get" class="d-flex" role="search">
            <input class="form-control me-2" style="width: 400px" type="search" name="search" value="@ViewData["Search"]" placeholder="Hledat podle jména / příjmení" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Hledat</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Křestní jméno</td>
            <td>Příjmení</td>
            <td>Trvalá adresa</td>
            <td>Datum narození</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Address</td>
                <td>@person.DateOfBirth?.ToShortDateString()</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="InsuredPerson" asp-action="Detail" asp-route-email="@person.ApplicationUser!.Email">
                        Detail
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
